<div id="profileSection">
    {{#with user}}

    <h1>Welcome {{username}} </h1>
    <h2>You can find your boxes here</h2>
    <div id="box">
    {{#each boxadded}}
        <h2>{{name}}</h2>
        <p>{{description}}</p>
        <p>{{address}}</p>
        <div id="editDeletePosition">
            <a href="/profile/{{_id}}/edit" class="links">Something's not correct? Edit here</a>
            <a href="/profile/{{_id}}/delete" class="links">Treasure's gone? Delete here</a>
        </div>
    {{/each}}
    {{/with}}
    </div>

    <a href="/form" class="links">Add a box here</a>
    <div id="dashboardLink">
        <a href="/" class="links">Go to the map</a>
    </div>
    <div>
        <a href="/logout" class="links">Log out</a>
    </div>
</div>

